


<div class="card flex justify-content-center" style="padding-top: 10px;">
    <p-toast/>
    


    <p-card [style]="{ width: '1500px', border: '2px solid', borderRadius: '15px'}">
        <p-confirmDialog/>

        <p-toolbar 
        styleClass="bg-gray-900 shadow-2" 
        [style]="{ 'border-radius': '1rem', 'background-image': 'linear-gradient(to right, var(--blue-600), var(--blue-700))' }">
        <ng-template pTemplate="start">
            <span class = "font-bold" style="font-size: xx-large; color: beige;">User Details</span>
            
        </ng-template>
        <ng-template pTemplate="center">
            <div style="padding-top: 15%;">

            <input type="text" pInputText placeholder="Search" class="mr-2" #searchInput type="text" (input)="dt2.filterGlobal(searchInput.value, 'contains')" />
            <button pButton type="submit" class="submit ml-2" icon="pi pi-search"></button>
            </div>
            
        </ng-template>
        <ng-template pTemplate="end" >
            <!-- <div style="padding-bottom: 30px;"> -->


                <p-button class="flex justify-content-center" label="Add User" [raised]="true" icon="pi pi-plus" severity="success" (onClick)="showDialog()" size="large" ></p-button>
            
            
            <!-- </div> -->
        </ng-template>
        </p-toolbar>
        <div  style="padding-bottom: 30px;">
            
        </div>

        <!-- <div style="padding-bottom: 30px;">
        

        



            <p-button class="flex justify-content-center" label="Add User" icon="pi pi-plus" severity="success" (onClick)="showDialog()" size="large" ></p-button>

            
    
        
        
        </div> -->
        

        <p-table #dt2  [globalFilterFields]="['name', 'id.name', 'id']" [scrollable]="true" 
        scrollHeight="400px" [value]="user"  [paginator]="true" [rows]="5" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '30rem'  }">
            
        
        
        <ng-template pTemplate="header">
                
                <tr>
                    <th pSortableColumn="id" style="width:5%">
                        Id <p-sortIcon field="id" />
                    </th>
                    <th>Name</th>
                    <th>&#160; &#160; IsActive
                        <div>
                            <p-dropdown 
                            
                            [options]="isActive"
                            optionLabel="name"
                            optionValue="value"
                            placeholder="select"
                            (onChange)="userActive($event)" />
                        </div>
                    </th>
                    <th>&#160; &#160; &#160; Update</th>
                    <th>&#160; &#160; &#160; Delete</th>
                    <!-- <th>Quantity</th> -->
                     
                </tr>    
                
            </ng-template>
            <ng-template pTemplate="body" let-users>
                <tr>
                    <td>{{users.id }}</td>
                    <td>{{ users.name }}</td>
                    <td> &#160; &#160; &#160;{{ users.isActive }}</td>
                    <td> &#160; &#160;<p-button class="edit-button" label="Edit" [raised]="true" [rounded]="true" icon="pi pi-pencil" (onClick)="showUpdateDialog(users.id)"  size="small" ></p-button></td>
                    <td> &#160; &#160;<p-button class="delete-button" label="Delete" [raised]="true" [rounded]="true"  severity="danger" (onClick)="DeleteUser(users.id)" icon="pi pi-trash"   size="small" ></p-button></td>
                    <!-- <td>{{ product.quantity }}</td> -->
                </tr>
            </ng-template>
        </p-table>
        <!-- <a href="/user" target="_self" rel="noopener noreferrer" class="p-button font-bold w-full flex" styleClass="w-full" style="text-decoration: none; text-align: center; width: 5%;">
            Add User
        </a> -->
    </p-card>    
        
    
</div>
